<%= render "shared/header" %>
<div class="new-main">
  <%= form_with model: @day, url: trainings_path, class: "form-wrapper", local: true do |f| %>
    <div class="new-form-header">
      <span class="form-header-text">トレーニング記録入力</span>
    </div>

    <div class="error-messages-box">
      <%= render 'shared/error_messages', model: f.object %>
    </div>

    <div class="new-date-wrapper">
      <div class="new-date-wrapper-left">
        <%= f.label :date, '日付', class: "form-text" %>
      </div>
      <div class="new-date-wrapper-right">
        <%= f.date_field :date, value: Time.now.strftime("%Y-%m-%d"), class: "form-field" %>
      </div>
    </div>

    <div class="new-target-wrapper">
      <div class="new-target-wrapper-left">
        <span class="form-text">ターゲット</span>
      </div>
      <div class="new-target-wrapper-right">
        <div class="target-group-left">
          <div class="target-form">
            <%= f.check_box :chest, {} , true, false %>
            <%= f.label :chest, '胸' %>
          </div>
          <div class="target-form">
            <%= f.check_box :tricep, {} , true, false %>
            <%= f.label :tricep, '上腕三頭筋' %>
          </div>
          <div class="target-form">
            <%= f.check_box :back, {} , true, false %>
            <%= f.label :back, '背中' %>
          </div>
        </div>
        <div class="target-group-right">
          <div class="target-form">
            <%= f.check_box :shoulder, {} , true, false %>
            <%= f.label :shoulder, '肩' %>
          </div>
          <div class="target-form">
            <%= f.check_box :bicep, {} , true, false %>
            <%= f.label :bicep, '上腕二頭筋' %>
          </div>
          <div class="target-form">
            <%= f.check_box :abdominal, {} , true, false %>
            <%= f.label :abdominal, '腹筋' %>
          </div>
          <div class="target-form">
            <%= f.check_box :leg, {} , true, false %>
            <%= f.label :leg, '脚' %>
          </div>
        </div>
      </div>
    </div>

      <%# ここからログのフォーム %>
      <div class="new-log-wrapper">
        <div class="new-log-header">
          <div class="log-form-wrapper">
            種目
          </div>
          <div class="log-form-wrapper">
            重量[kg]
          </div>
          <div class="log-form-wrapper">
            レップ[回]
          </div>
          <div class="log-remove-button">
            削除
          </div>
        </div>
        <div class="new-log-form-wrapper" id='detail-association-insertion-point'>
          <%= f.fields_for :logs do |i| %>
            <%= render 'log_fields', f: i %>
          <% end %>
        </div>
        <div class="add-association-button">
          <%= link_to_add_association "セット追加", f, :logs, class: "uk-button uk-button-primary",
            data: {
              association_insertion_node: '#detail-association-insertion-point',
              association_insertion_method: 'append'
            } %>
        </div>
        <div class="submit-button">
          <%= f.submit "トレーニング終了", class: "uk-button uk-button-primary" %>
        </div>
      </div>

  <% end %>
</div>
<%= render "shared/footer" %>