<%= render "shared/header_sign_up" %>
<div class="main">
    <%= form_with model: @user, url: user_registration_path, class: "form-wrapper", local: true do |f| %>
  
    <div class="form-header">
      <span class="form-header-text">新規ユーザー登録</span>
    </div>

    <%= render 'shared/error_messages', model: f.object %>

    <div class="form-groups">
      <table class="uk-table uk-table-divider">
        <tr>
          <td><%= f.label :nickname, 'ニックネーム', class: "form-text" %></td>
          <td>
            <div class="form-group">
              <%= f.text_field :nickname, autocomplete: "off", class: "form-field" %>
              <p class="form-description">※4文字以上20文字以下</p>
            </div>
          </td>
        </tr>
        <tr>
          <td><%= f.label :password, 'パスワード', class: "form-text" %></td>
          <td>
            <div class="form-group">
              <%= f.password_field :password, autocomplete: "off", class: "form-field" %>
              <p class="form-description">※6文字以上英数字混合</p>
            </div>
          </td>
        </tr>
        <tr>
          <td><%= f.label :password_confirmation, 'パスワード(確認)', class: "form-text" %></td>
          <td>
            <div class="form-group">
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-field" %>
              <p class="form-description">※パスワードと同様</p>
            </div>
          </td>
        </tr>
      </table>
      <%= link_to "ユーザー登録済みの方はこちら", new_user_session_path, class: "link-text" %>
      <div class="submit-button">
        <%= f.submit "新規登録", class: "uk-button uk-button-primary" %>
      </div>
    </div>
    <% end %>
</div>
<%= render "shared/footer" %>